<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <link rel="stylesheet" href="assets/css/app.css">
    <title>Daniel Rodenberg - Resume</title>
    <link rel="shortcut icon" href="assets/images/kc.ico" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="col s12 m4 l4">
                <div class="card sideBar">

                    <div class="card-image">
                        <img src="assets/images/profile5.png">
                        <span id="cardTitle" class="card-title">Daniel Rodenberg</span>
                        <span id="cardSubTitle" class="card-title">Full Stack Developer</span>
                    </div>

                    <div class="card-content">
                        <div class="row">
                            <div class="col s4 m2 l2">
                                <i class="small material-icons iconPadding">contact_phone</i>
                            </div>
                            <div class="col s8 m10 l10">

                                <h5>Contact</h5>
                                <ul class="list-unstyled">
                                    <li>drodenberg92@gmail.com</li>
                                    <li>(816) 699 5854</li>
                                    <li><a href="https://github.com/drodenberg" target="_blank">github.com/drodenberg</a></li>
                                    <li><a href="https://twitter.com/d_rode92" target="_blank">@d_rode92</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s4 m2 l2">
                                <i class="small material-icons iconPadding">import_contacts</i>
                            </div>
                            <div class="col s8 m10 l10">
                                <h5>Education</h5>
                                <hp class="degree">BS in Information Technology</p>
                                    <p class="meta">University of Missouri</p>
                                    <p>Honors Scholar</p>
                                    <p>2010 - 2014</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s4 m2 l2">
                                <i class="small material-icons iconPadding">trending_up</i>
                            </div>
                            <div class="col s8 m10 l10">
                                <h5>Skills & Proficiency</h5>
                                <span>Java</span>
                                <div class="progress">
                                    <div class="determinate" style="width: 90%"></div>
                                </div>

                                <span>HTML & CSS (<a href="http://materializecss.com" target="_blank">MaterializeCSS</a>)</span>
                                <div class="progress">
                                    <div class="determinate" style="width: 85%"></div>
                                </div>

                                <span>JavaScript</span>
                                <div class="progress">
                                    <div class="determinate" style="width: 65%"></div>
                                </div>

                                <span>Angular</span>
                                <div class="progress">
                                    <div class="determinate" style="width: 60%"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <section class="resume">
                <div class="col s12 m8 l8">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s12 m2 l2">
                                <i class="medium material-icons">perm_identity</i>
                            </div>

                            <div class="col s12 m10 l10">
                                <h4>Professional Summary</h4>
                                <p>Experienced Web Developer committed to maintaining cutting edge technical skills and up-to-date industry knowledge.</p>
                                <p>Has worked on Web Applications using SpringMVC and Angular. Works well with a team and is always looking for opportunites to learn!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m8 l8">
                    <div class="card-panel">
                        <div class="row">

                            <div class="col s12 m2 l2">
                                <i class="medium material-icons">work</i>
                            </div>

                            <div class="col s12 m10 l10">
                                <h4>Work History</h4>
                                <h5>Engineer 1 @ Enterprise Holdings (Enterprise Rent-A-Car)</h5>
                                <p><span class="highlight">Jan 2015 - Present</span></p>
                                <p>Developed a Spring MVC, Angular web application for internal use called Fleet Planning North America. </p>
                                <p>This application allows three levels of managers to plan their fleet of cars throughout the year.</p>
                                <p>Currently working on a web application for acquiring vehicles for Europe.</p>

                                <h5>Software Intern @ Cerner (Kansas City)</h5>
                                <p><span class="highlight">May 2012 - Aug 2014</span></p>
                                <p>Developed and Implemented a web application for the ticketing system that Cerner used called Remedy.</p>
                                <p>It allowed the users to view the tickets, see who was assigned to them (what group, what employee) and see the status of the ticket</p>
                                <p>This was done using the .NET framework. I had no previous experience with this framework prior to the summer of 2014.</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col s12 m8 l8">
                    <div class="card-panel">
                        <div class="row">

                            <div class="col s12 m2 l2">
                                <i class="medium material-icons">mode_edit</i>
                            </div>

                            <div class="col s12 m10 l10">
                                <h4>Self Study</h4>

                                <p>Currently taking Code School courses and moving toward Codelara courses on my own time.</p>
                                <p><a href="https://www.codeschool.com/search?query=MEAN+stack" class="resumeHover" target="_blank">Code School</a> - Courses include Shaping Up with Angular, Staying Sharp with Angular, Real Time web with Node, and The Magical
                                    Marvel of MongoDB.
                                </p>
                                <p><a href="http://codelara.com/" class="resumeHover" target="_blank">Codelara</a> - Courses include Mean Stack called "Projects in AngularJS - Learn by building 10 projects."</p>
                                <p>Loves to learn new technology and interested in becoming an expert in front end development.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

</body>

</html>
